@import url('https://fonts.cdnfonts.com/css/gotham');

:root {
	--grey: #3b4a5a;
	--yellow: #fcc444;
	--light-grey: #eef1ef;
	--blue: #009dda;
	--green: #025255;
	--font-family: 'Gotham', sans-serif;
}

.result-filter-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.8rem 0;
	width: 95%;
	left: 5%;
	text-align: center;
	padding: 0.5rem;
	top: -4.5rem;
	background-color: var(--yellow);
	border-radius: 15px;
}

.result-filter {
	display: flex;
	padding: 0;
	background-color: transparent;
	flex-direction: row;
	align-items: center;
	gap: 1.4rem;
}

.filter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.filter input {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.filter label {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-position: center;
	background-size: cover;
	color: var(--grey);
	margin-right: 0.2rem;
	font-size: 0.8rem;
}
.filter input[type='text'] {
	display: none;
}

.index {
	margin-top: 1rem;
	width: 100%;
	text-align: center;
}

.index-number {
	width: 40px;
	height: 40px;
	margin: 0.4rem;
	color: var(--yellow);
	background-color: var(--green);
	border: 1px solid var(--yellow);
	padding: 0.2rem;
	border-radius: 100%;
	cursor: pointer;
	font-weight: bold;
	font-size: 1rem;
	transition: background 0.5s ease;
}

.current-index,
.index-number:hover {
	color: var(--green);
	background-color: var(--yellow);
	border: 1px solid var(--green);
}

.up {
	background-image: url('./assets/up.png');
}

.down {
	background-image: url('./assets/down.png');
}

label[id='amount'] {
	margin-left: 0.5rem;
	min-width: 50px;
	width: auto;
}

button a {
	text-decoration: none;
	color: var(--light-grey);
}

@media screen and (min-width: 900px) {
	.result-filter-container {
		width: 90%;
		margin: 0.8rem auto;
		justify-content: center;
		align-items: center;
	}

	.result-filter {
		width: 90%;
		gap: 2rem;
		justify-content: flex-start;
	}

	.filter {
		position: relative;
		align-items: center;
		flex-basis: 25%;
	}

	.text-filter-container {
		margin-left: 1rem;
		min-width: 200px;
	}

	.filter input[type='text'] {
		border-radius: 5px;
		display: inline-block;
		width: 100%;
		outline: 1px solid var(--green);
		background-color: var(--light-grey);
		border: none;
		height: 1.5rem;
		padding: 0.2rem 0.4rem;
		font-size: 0.85rem;
		font-family: var(--font-family);
	}

	.filter input[type='text']:focus {
		outline: 2px solid var(--green);
	}

	.msg {
		color: var(--blue);
		font-size: 1.5rem;
		margin-top: 4rem;
		font-weight: bold;
		font-style: italic;
	}
}

@media screen and (min-width: 1200px) {
	.up,
	.down {
		position: relative;
	}
	.up::after {
		content: 'Fecha';
		font-family: var(--font-family);
		font-size: 0.8rem;
		position: absolute;
		top: 1px;
		left: 37px;
	}

	.down::after {
		content: 'Fecha';
		font-family: var(--font-family);
		font-size: 0.9rem;
		position: absolute;
		top: 1px;
		left: 37px;
	}
}
