p.estudio {
	margin-top: 0.5rem;
	padding: 1rem 1rem;
	background-color: var(--green);
	border: 1px solid var(--yellow);
	width: 70vw;
}

.estudio label {
	text-align: center;
}

.drop-area {
	background-color: #025255;
	background-color: transparent;
	background-image: url('../../../assets/styles/global/images/Drop.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 4px dashed #fcc444;
}

input[type='file'] {
	visibility: hidden;
	width: 50%;
	display: inline;
}

.drop-area label {
	visibility: hidden;
}
