p.estudio {
	margin-top: 0.5rem;
	padding: 1rem 1rem;
	background-color: #025255;
	border: 1px solid #fcc444;
	cursor: pointer;
}

.estudio label {
	text-align: center;
	color: #fcc444;
	cursor: pointer;
}

.estudio label span {
	color: white;
	display: inline-block;
	font-weight: 0.8rem;
	margin-bottom: 0.3rem;
	cursor: pointer;
}

p.drop-area {
	background-color: #025255;
	background-image: url('assets/Drop.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 2px dashed #fcc444;
}

input[type='file'] {
	visibility: hidden;
	width: 1px;
	display: inline;
}

.drop-area label {
	visibility: hidden;
}

.no-preview {
	width: 100%;
	text-align: center;
	color: #fcc444;
}

.preview {
	margin-top: 0.3rem;
	width: 95%;
	height: 110px;
	margin: auto;
}

.drop-area .preview,
.drop-area .no-preview {
	visibility: hidden;
}
