:root {
	--grey: #3b4a5a;
	--yellow: #fcc444;
	--light-grey: #eef1ef;
	--blue: #009dda;
}

.images-container {
	position: relative;
}

.loader-container {
	border: none;
	outline: none;
	top: 50%;
	left: 38%;
	height: 15px;
	width: 20%;
	position: absolute;
	background-color: white;
}

.loader {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: var(--blue);
}

.blur {
	filter: blur(50px);
}

.active {
	display: initial;
}

.carousel-button {
	position: absolute;
	top: calc(50% - 30px);
	height: 35px;
	width: 35px;
	border: none;
	outline: none;
	background-color: transparent;
	background-image: url('assets/arrow.svg');
	color: var(--yellow);
	background-position: center;
	background-size: cover;
	cursor: pointer;
}

.left {
	left: 15px;
	transition: left 0.2s ease-in-out;
}

.right {
	right: 15px;
	transition: right 0.2s ease-in-out;
	transform: rotate(180deg);
}

.thumbs-container {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 25px;
}

.thumb {
	background-color: var(--light-grey);
	height: 15px;
	width: 15px;
	border-radius: 100%;
	border: 1px solid var(--grey);
	outline: none;
	cursor: pointer;
	opacity: 1;
}

.thumb:hover {
	background-color: var(--yellow);
	opacity: 0.5;
}

.active-thumb {
	background-color: var(--yellow);
}

.images-container li:nth-child(1) img {
	animation-name: blur-animation;
	animation-duration: 0.9s;
	animation-delay: -0.1s;
	animation-timing-function: ease-in;
}
.images-container li:nth-child(2) img {
	animation-name: translate-animation;
	animation-duration: 1s;
	animation-delay: 0.1s;
	animation-timing-function: ease;
}
.images-container li:nth-child(3) img {
	animation-name: opacity-animation;
	animation-duration: 0.7s;
	animation-delay: 0.1s;
	animation-timing-function: ease-in;
}
.images-container li:nth-child(4) img {
	animation-name: zoom-animation;
	animation-duration: 0.3s;
	animation-timing-function: ease-out;
}

@keyframes opacity-animation {
	0% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}

@keyframes blur-animation {
	0% {
		filter: blur(100px);
	}

	50% {
		filter: blur(50px);
	}

	75% {
		filter: blur(25px);
	}

	90% {
		filter: blur(10px);
	}

	100% {
		filter: blur(0);
	}
}

@keyframes translate-animation {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes zoom-animation {
	0% {
		transform: scale(0.8, 0.8);
	}

	100% {
		transform: scale(1, 1);
	}
}

@media screen and (min-width: 1100px) {
	.carousel-button {
		height: 45px;
		width: 45px;
	}

	.left:hover {
		left: 5px;
		transition: left 0.25s ease-in-out;
	}

	.right:hover {
		right: 5px;
		transition: right 0.25s ease-in-out;
	}
}
