<section>
  <section class="lista-turnos"></section>
  <section class="turno-actual">
    <header class="nombre-paciente"></header>
    <dl class="datos-paciente">
      <div class="dni-data">
        <dt>DNI:</dt>
        <dd class="dni-value"></dd>
      </div>
      <div class="edad-data">
        <dt>Edad:</dt>
        <dd class="edad-value"></dd>
      </div>
      <div class="nacimiento-data">
        <dt>Nacimiento:</dt>
        <dd class="nacimiento-value"></dd>
      </div>
      <div class="genero-data">
        <dt>Genero:</dt>
        <dd class="genero-value"></dd>
      </div>
    </dl>
  </section>
  <button class="boton-siguiente">Siguiente</button>
</section>
