@import url('../../../assets/styles/turnero.css');


header {
  position: relative;
  height: auto;
  box-shadow: none;
}

h3 {
  margin: auto;
  margin-left: 1rem;
  margin-top: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.lista-turnos, .turno-actual {
  display: inline-block;
}

.lista-turnos {
  width: 20%;
  margin: 0;
  border: 1px solid;
}

.turno-actual {
  float: right;
  width: 80%;
}

dt,
dd {
	display: inline-block;
	padding: 1.2rem;
}

div {
	border-bottom: 1px solid;
}

dt {
	width: 30%;
	font-size: 1.2rem;
	font-weight: bold;
}

dd {
	width: 40%;
	text-align: center;
}


.boton-siguiente {
  background-color: var(--yellow);
  color: var(--green);
  border: 2px solid var(--green);
  font-size: 2rem;
  font-weight: bold;
  border-radius: 8px;
  padding: 1rem;
  width: 15rem;
  display: block;
  margin: auto;
  margin-top: 2rem;
  transition: transform 0.1s ease-in;
  cursor: pointer;
}

.boton-siguiente:hover {
  transform: scale(1.03);
}