@import url('../../../assets/styles/turnero.css');


header {
  
}

.lista-turnos, .turno-actual {
  display: inline-block;
}

.lista-turnos {
  width: 20%;
  margin: 0;
  border: 1px solid;
}

.turno-actual {
  float: right;
  width: 80%;
}

.boton-siguiente {
  background-color: var(--yellow);
  color: var(--green);
  border: 2px solid var(--green);
  font-size: 2rem;
  font-weight: bold;
  border-radius: 8px;
  padding: 1rem;
  width: 15rem;
  display: block;
  margin: auto;
  margin-top: 2rem;
  transition: transform 0.1s ease-in;
  cursor: pointer;
}

.boton-siguiente:hover {
  transform: scale(1.03);
}