.detail-section {
	width: 95vw;
	margin: auto;
	margin-bottom: 1rem;
}

details {
	border: 1px solid var(--grey);
	background: var(--light-grey);
}

summary {
	outline: none;
	cursor: pointer;
	list-style: none;
	display: flex;
	justify-content: center;
	color: var(--light-grey);
	font-weight: bold;
	padding: 1.2rem;
	font-size: 1.2rem;
	border-bottom: 1px solid var(--light-grey);
	background-color: var(--green);
	transition: background 0.3s ease-in-out;
}

details[open] > summary {
	background-color: var(--light-grey);
	color: var(--green);
	border-bottom: 1px solid var(--green);
	transition: background 0.3s ease-in-out;
}

details[open] > summary:hover {
	background-color: var(--red);
	color: var(--light-grey);
	opacity: 0.9;
}

summary:hover {
	opacity: 0.8;
}

details p {
	padding: 1.2rem;
	line-height: 1.2rem;
}

@media only screen and (min-width: 800px) {
	main {
		height: 100%;
	}

	.detail-section {
		height: auto;
		width: 90vw;
	}
}

@media only screen and (min-width: 1200px) {
	.detail-section {
		width: 80vw;
		margin: 1rem auto;
	}

	summary {
		padding: 2rem;
	}
}

@media print {
	details[open] {
		page-break-inside: avoid;
	}
}
