@import url('./reset.css');
@import url('./variables.css');

:root {
	font-size: 16px;
	font-family: var(--font-family);
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.header {
	width: 100vw;
	background-color: var(--green);
	height: max(14vh, 123px);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5rem;
	position: sticky;
	top: 0;
	z-index: 2000;
}

.header::after {
	content: '';
	display: block;
	padding: 1rem;
	width: 11rem;
	height: 5rem;
	background-image: url('./images/ImagotipoLight.svg');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 3vh;
	left: 0;
	margin: 0;
}

.header section {
	min-width: 35vw;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
}

.title {
	color: var(--grey);
	font-weight: bold;
	padding: 1rem;
	font-size: 1.5rem;
}

.menu {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	background-color: transparent;
	margin-right: 5vw;
	border: none;
	outline: none;
	background-image: url('./images/Menu.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.profile {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	background-image: url('./images/ProfileLight.svg');
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
}

.nav {
	display: none;
}

.footer {
	margin-top: auto; /* margin-top auto para que quede en el final del body */
	padding: 1rem;
	background-color: var(--green);
	color: var(--light-grey);
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.footer address p {
	display: inline;
}

.footer address p {
	display: block;
	margin-top: 0.4rem;
}

.footer ul li {
	font-size: 1.1rem;
	margin-top: 0.2rem;
}

.footer a {
	color: var(--yellow);
	text-decoration: none;
}

/* Las siguientes propiedades del body 
		están especificadas para que e body
		ocupe la totalidad de la pantalla 
		sin importar si el contenido no es lo
		suficientemente grande, de manera que 
		el margin-top: auto; en el .footer establece
		el pie de página al final de la misma*/
body { 
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	position: relative;
}

.turn {
	position: fixed;
	border: 2px solid #025255;
	outline: none;
	border-radius: 50%;
	bottom: 10px;
	right: 5px;
	width: 4rem;
	height: 4rem;
	background-color: var(--yellow);
	background-image: url('./images/Appointment.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 1000;
}

@media only screen and (min-width: 800px) {
	.header {
		height: 21vh;
		display: flex;
		background-color: var(--light-grey);
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;
		gap: 2rem;
	}

	.header::after {
		background-image: url('./images/ImagotipoDark.svg');
		width: 15rem;
		height: 5rem;
		position: absolute;
		top: 2vh;
	}

	.header section {
		min-width: 15vw;
	}

	.menu {
		display: none;
	}

	.profile {
		width: 2.8rem;
		height: 2.8rem;
		background-image: url('./images/ProfileDark.svg');
		margin-right: 2vw;
		margin-top: 2rem;
	}

	.nav {
		display: initial;
		width: 100%;
		height: max(15vh, 60px);
		min-width: 100vw;
	}

	.nav-list {
		padding: 0.8rem;
		width: 100vw;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--green);
		font-weight: 600;
		font-size: 1.07rem;
	}

	.nav-item a {
		text-decoration: none;
		color: var(--light-grey);
		margin: 0;
		padding: 0;
	}

	.nav-item a:hover {
		opacity: 80%;
	}

	.current a {
		color: var(--yellow);
	}

.footer {
		position: relative;
	}

	.footer::after {
		position: absolute;
		bottom: 15px;
		right: 15px;
		content: '';
		background-image: url('./images/ImagotipoLight.svg');
		background-position: center;
		background-size: cover;
		height: 5rem;
		width: 15rem;
		color: red;
	}

	.turn {
		display: none;
	}
}

@media only screen and (min-width: 800px) {
	.title {
		font-size: 2rem;
	}
}

@media only screen and (min-width: 1000px) {
	.nav-list {
		font-size: 1.2rem;
		justify-content: space-evenly;
		gap: 2rem;
	}
}

@media only screen and (min-width: 1200px) {
	.title {
		font-size: 2.5rem;
	}
}
