@import url('./reset.css');
@import url('./variables.css');

html {
	font-size: 16px;
	font-family: var(--font-family);
	overflow-x: hidden;
	scroll-behavior: smooth;
}

header {
	width: 100%;
	background-color: var(--green);
	min-height: 125px;
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5rem;
	position: fixed;
	top: 0;
	z-index: 2000;
	box-shadow: 0 3px 5px var(--grey);
}

h1 {
	width: 14rem;
	height: 7rem;
	padding: 0.3rem 0;
	position: absolute;
	top: auto;
	left: 0.5rem;
}

h1 img {
	width: 100%;
	height: 100%;
	background-color: var(--light-grey);
	border-radius: 15px;
}

header section {
	min-width: 35vw;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
}

.title {
	color: var(--grey);
	font-weight: bold;
	padding: 1rem;
	margin-left: 60px;
	font-size: 2.3rem;
	position: relative;
	filter: drop-shadow(1px 1px 1px black);
}

.title::after {
	position: absolute;
	top: 0.7rem;
	left: -35px;
	opacity: 0.8;
	z-index: -100;
	content: '';
	display: block;
	width: 40px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('./images/Decoration.svg');
}

.menu {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	background-color: transparent;
	margin-right: 5vw;
	border: none;
	outline: none;
	background-image: url('./images/Menu.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.header-nav {
	display: none;
	position: absolute;
	background-color: var(--light-grey);
	width: 80vw;
	top: 7.8rem;
	right: 0;
	text-align: center;
	border: 2px solid var(--green);
	border-radius: 5px;
	overflow: hidden;
}
.header-nav ul {
	height: 100%;
	background-color: var(--light-grey);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header-nav ul a {
	font-weight: bold;
	display: block;
	padding: 1rem;
	font-size: 1.5rem;
	width: 100%;
	color: var(--green);
	text-decoration: none;
	cursor: pointer;
	transition: background 0.2s ease-in-out;
}

.header-nav ul a:hover {
	background-color: var(--green);
	color: var(--light-grey);
}

/* Clase que haran que el nav se oculte o se muestre.
	Pensamos tratar esto despues desde javascript.
	La idea seria al clickear el boton, se agrega o se quita 
	la clase 'close' al nav.
*/

.close {
	display: none;
}

.profile {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	background-image: url('./images/ProfileLight.svg');
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
}

footer {
	margin-top: auto; /* margin-top auto para que quede en el final del body */
	padding: 1rem;
	background-color: var(--green);
	color: var(--light-grey);
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

footer address p {
	display: inline;
}

footer address p {
	display: block;
	margin-top: 0.4rem;
}

footer ul li {
	font-size: 1rem;
	margin-top: 0.2rem;
}

footer a {
	color: var(--yellow);
	text-decoration: none;
}

body {
	min-height: 100vh;
}

main {
	position: relative;
}

.turn {
	position: fixed;
	border: 2px solid #025255;
	outline: none;
	border-radius: 50%;
	bottom: 3rem;
	right: 1rem;
	width: 4rem;
	height: 4rem;
	background-color: var(--yellow);
	background-image: url('./images/Appointment.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 1000;
}

@media only screen and (min-width: 950px) {
	header {
		height: 21vh;
		display: flex;
		background-color: var(--light-grey);
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;
		gap: 2rem;
	}

	header section {
		min-width: 15vw;
	}

	h1 {
		width: 19rem;
		height: 6.5rem;
		padding: 0.7rem 0.5rem 0rem 0.5rem;
		position: absolute;
		top: 0;
		left: 0;
	}

	h1 img {
		width: 100%;
		height: 100%;
		background-color: var(--light-grey);
		border-radius: 15px;
	}

	.menu {
		display: none;
	}

	.profile {
		width: 2.8rem;
		height: 2.8rem;
		background-image: url('./images/ProfileDark.svg');
		margin-right: 2vw;
		margin-top: 2rem;
	}

	.header-nav {
		position: static;
		display: initial;
		width: 100%;
		height: max(15vh, 60px);
		min-width: 100vw;
		border-radius: 0;
	}

	.header-nav ul {
		padding: 0.8rem;
		width: 100vw;
		height: 100%;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		gap: 1.5rem;
		background-color: var(--green);
		font-weight: 500;
		font-size: 1rem;
		box-shadow: 0 3px 5px var(--grey);
	}

	.header-nav ul a {
		text-decoration: none;
		color: var(--light-grey);
		margin: 0;
		padding: 0;
		font-size: 1rem;
	}

	.header-nav a:hover {
		opacity: 80%;
	}

	.header-nav ul .current a {
		color: var(--yellow);
	}

	footer {
		position: relative;
	}

	footer::before {
		position: absolute;
		bottom: 15px;
		right: 15px;
		content: '';
		background-image: url('./images/ImagotipoLight.svg');
		background-position: center;
		background-size: cover;
		height: 5rem;
		width: 15rem;
		color: red;
	}

	.turn {
		display: none;
	}

	.title {
		font-size: 2.5rem;
	}

	.title::after {
		width: 50px;
		height: 60px;
		left: -45px;
	}
}

@media only screen and (min-width: 1000px) {
	.header-nav ul {
		justify-content: space-evenly;
	}
}

@media only screen and (min-width: 1200px) {
	.header-nav ul a {
		font-size: 1.15rem;
	}

	title {
		font-size: 2.5rem;
	}
}

@media screen and (min-height: 900px) {
	.header-nav {
		top: 8.2rem;
	}
}

/* @media only screen and (max-width: 800px) {
	.nav {
		position: absolute;
		top: 7rem;
		font-size: 2rem;
		right: 0;
		width: 100%;
		z-index: 10000;
		background-color: var(--green);
	}

	.nav a {
		text-decoration: none;
		color: var(--light-grey);
		display: flex;
		justify-content: center;
		margin: auto;
		padding: 1rem;
	}

	.nav-list {
		height: 100%;
		border-bottom: 1px solid var(--light-grey);
	}

	.nav-item {
		border-top: 1px solid var(--light-grey);
		text-align: center;
	}

	.nav-item:hover {
		background-color: var(--light-grey);
	}

	.nav-item:hover > a {
		color: var(--green);
	}
} */
