{% extends "base.twig" %} 

{% block main %}
	<h2 class="title">{{title}}</h2>

	<section class="detail-section">
		<details>
			<summary>General</summary>
			<p>
				En los años 70, un grupo de médicos soñaba un hospital universitario
				que cumpliera con el triple objetivo de enseñar, investigar y
				asistir, brindando a la sociedad profesionales con la mejor
				educación técnica y la más alta formación humana. Ellos eran, entre
				otros, los doctores César Bergadá, Ricardo Dodds, Leonardo Mc Lean y
				Enrique Malbrán. Con ese norte nació, en 1996, la Facultad de
				Ciencias Biomédicas de la Universidad Austral que, en 2001, tendría
				su primera promoción de médicos y licenciados en Enfermería.
				Paralelamente a esa casa de estudios, la Fundación Pérez Companc
				decidió apoyar, con gran generosidad, el desarrollo de las obras del
				Hospital, que fue inaugurado el 2 de mayo del año 2000. Desde
				entonces, Hospital y Facultad trabajan en equipo, unificando
				esfuerzos, conocimiento y formación para sobrellevar cada desafío.
			</p>
		</details>

		<details>
			<summary>Mision</summary>
			<p>
				Brindar a toda la comunidad nacional e internacional la mejor
				atención médica basada en evidencia científica, investigación y
				contenido ético, acompañando al paciente y su familia; asimismo
				ofrecer a nuestro personal y profesionales un ámbito de desarrollo
				atractivo que favorezca su compromiso y sentido de pertenencia con
				la Institución. Garantizando la revisión y actualización de
				conocimientos, procesos, tecnologías y estructuras, gestionando
				nuestros recursos con racionalidad económica en forma transparente y
				honesta.
			</p>
		</details>

		<details>
			<summary>Valores</summary>
			<ul>
				<li>
					<h3>Trabajo en equipo</h3>
					<p>
						Trabajamos con una visión, respetando y valorando nuestras
						diferencias, fortaleciendo las relaciones interpersonales y
						priorizando el éxito del equipo por encima del éxito
						individual.
					</p>
				</li>
				<li>
					<h3>Responsabilidad</h3>
					<p>
						Construimos relaciones de confianza en la ejecución de
						nuestras tareas orientadas al logro de los resultados
						esperados. Asumimos un rol activo en nuestra labor diaria y
						comprendemos la trascendencia de nuestras acciones
						individuales y colectivas
					</p>
				</li>
				<li>
					<h3>Ética</h3>
					<p>
						Sostenemos una conducta transparente, honesta y preocupada
						por la dignidad de todas las personas con las que
						interactuamos.
					</p>
				</li>
				<li>
					<h3>Compromiso</h3>
					<p>
						Asumimos nuestras tareas comprometidos con la institución,
						enfocando nuestro esfuerzo a brindar atención de calidad a
						nuestros pacientes y su familia.
					</p>
				</li>
				<li>
					<h3>Eficiencia</h3>
					<p>
						Logramos nuestros objetivos utilizando procesos y métodos de
						trabajo que optimizan nuestro desempeño con la mejor
						utilización de recursos.
					</p>
				</li>
			</ul>
		</details>
		<details class="directorio">
			<summary class="titulo-detail">Directorio</summary>
			<figure>
				<img
					src="assets/images/directorio/Armando Barreda.jpg"
					alt="Foto de Armando Barreda"
					height="300"
					width="300"
				/>
				<figcaption>Director Armando Barreda</figcaption>
			</figure>
			<figure>
				<img
					src="assets/images/directorio/Directora.jpg"
					alt="Foto de Gabriela Paredes"
					height="300"
					width="300"
				/>
				<figcaption>Directora Gabriela Paredes</figcaption>
			</figure>
			<figure>
				<img
					src="assets/images/directorio/Director.jpg"
					alt="Foto de Hernesto Perez"
					height="300"
					width="300"
				/>
				<figcaption>Director Ernesto Pérez</figcaption>
			</figure>
		</details>
	</section>
	<a href="/solicitar-turno" title="Solicitar turno" class="turn"></a>
{% endblock %}
