@import url('./global/shared.css');

form {
	margin: auto;
	width: 90vw;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

fieldset {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	gap: 0.4rem;
}

legend {
	font-size: 1.3rem;
	font-weight: bold;
	color: var(--green);
	font-style: italic;
}

label {
	display: block;
	font-size: 1.2rem;
	color: var(--green);
	margin: 0.7rem 0 0.5rem 0;
}

input , select[id="opcion"]{
	width: 90vw;
	height: 2.3rem;
	margin: 0;
	padding: 0.5rem 0.5rem;
	background-color: transparent;
	border-radius: 5px;
	outline: none;
	border: none;
	outline: 1px solid var(--grey);
	font-family: var(--font-family);
	font-size: 1.1rem;
}

select[id="opcion"]{

}

input:focus {
	outline: 2px solid var(--green);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
	appearance: textfield;
}

input[type='radio'] {
	outline: none;
}

.genero label {
	display: inline;
	color: var(--grey);
}

.genero label:nth-child(1) {
	display: block;
	padding: 0.3rem 0;
}

.genero input {
	width: 18px;
	display: inline;
	height: auto;
}

input[type='time'],
input[type='date'] {
	width: 45vw;
}

.edad input {
	width: 15vw;
}

.edad::after {
	content: 'años';
	color: var(--grey);
	margin-left: 0.4rem;
	display: inline;
}

.button-container {
	display: flex;
	gap: 0.3rem;
	margin-bottom: 1.2rem;
}

.submit {
	width: 60vw;
	background-color: var(--green);
	color: var(--light-grey);
	font-size: 0.95rem;
	font-weight: bold;
	border-radius: 10px;
	transition: background 0.25s ease-in-out;
	outline: none;
	height: 2.5rem;
	cursor: pointer;
}

.submit:hover {
	background-color: var(--light-grey);
	color: var(--green);
	border: 2px solid var(--green);
}

.reset {
	outline: none;
	height: 2.5rem;
	width: 30vw;
	background-color: var(--red);
	color: var(--light-grey);
	font-size: 0.9rem;
	font-weight: bold;
	border-radius: 10px;
	transition: background 0.25s ease-in-out;
	cursor: pointer;
}

.reset:hover {
	background-color: var(--light-grey);
	color: var(--red);
	border: 2px solid var(--red);
}

.msg {
	width: 100%;
	padding: 1rem;
	background-color: var(--red);
	color: white;
	text-align: center;
	font-size: 1.1rem;
	font-weight: bold;
	margin: 1rem 0;
	border: 1px solid var(--red);
	text-align: center;
}

input[type='file'] {
	background-color: transparent;
	padding-left: 0;
}

@media screen and (min-width: 600px) {
	form {
		width: 75vw;
		margin: auto;
	}

	input , select[id="opcion"]{
		width: 75vw;
	}
}

@media screen and (min-width: 800px) {
	form {
		width: 70vw;
		margin: auto;
	}

	input , select[id="opcion"]{
		width: 70vw;
	}
}

@media screen and (min-width: 1100px) {
	form {
		width: 90vw;
		display: grid;
		gap: 0 2rem;
		grid-template-columns: repeat(3, 30vw);
		grid-auto-flow: dense;
		margin-top: 1.5rem;
	}

	.patient-data {
		grid-column: 1/2;
		grid-row: 1 / 2;
	}

	.contact-data {
		grid-row: 1/2;
		grid-column: 2/3;
	}

	.turn-data {
		grid-column: 3/4;
		grid-row: 1 / 2;
		margin-bottom: 0;
	}

	fieldset {
		width: 30vw;
		gap: 0;
		justify-content: flex-start;
	}

	fieldset p {
		width: 100%;
		margin-bottom: 0.8rem;
	}

	input , select[id="opcion"]{
		width: 90%;
	}

	input[type='time'],
	input[type='date'] {
		width: 50%;
	}

	.edad input {
		width: 15%;
	}

	.button-container {
		grid-column: 2;
		width: 100%;
		right: 4%;
		gap: 0.5rem;
	}
	.reset,
	.submit {
		height: 3rem;
	}
}

@media screen and (min-width: 1300px) {
	.button-container {
		right: 5%;
	}
}

@media print {
	.reset,
	.submit {
		display: none;
	}
}

@media screen and (prefers-color-scheme: dark) {
	input , select[id="opcion"]{
		background-color: var(--light-grey);
	}
	legend {
		color: var(--yellow);
	}

	label,
	.genero label {
		color: var(--light-grey);
	}

	.submit {
		background-color: var(--yellow);
		color: var(--green);
		transition: transform 0.1s ease-in;
	}

	.reset {
		transition: transform 0.1s ease-in;
	}

	.submit:hover {
		background-color: var(--yellow);
		color: var(--green);
		border: none;
		transform: scale(1.03);
	}
	.reset:hover {
		background-color: var(--red);
		color: var(--light-grey);
		border: none;
		transform: scale(1.03);
	}

	.msg {
		color: var(--light-grey);
	}
}
