@import url('./global/shared.css');
@import url('./global/shared-details.css');

button {
  background-color: var(--yellow);
  color: var(--green);
  border: 2px solid var(--green);
  font-size: 2rem;
  font-weight: bold;
  border-radius: 8px;
  padding: 1rem;
  width: 15rem;
  display: block;
  margin: auto;
  margin-top: 2rem;
  transition: transform 0.1s ease-in;
  cursor: pointer;
}

button:hover {
  transform: scale(1.03);
}