@import url('./global/shared.css');
@import url('./global/shared-details.css');

body {
	display: flex;
	flex-direction: column;
}

.section-controls {
	width: 95vw;
	margin: 2rem auto;
}

details h4 {
	font-weight: bold;
	padding-top: 1.2rem;
	padding-left: 1.2rem;
	color: var(--green);
	font-size: 1.2rem;
}

details ul {
	padding: 1.2rem;
	font-size: 1rem;
}

details ul li {
	margin-top: 0.5rem;
}

.cancelar-turno {
	font-weight: bold;
	border-radius: 10px;
	font-size: 0.9rem;
	cursor: pointer;
	color: var(--light-grey);
	background-color: var(--red);
	border: none;
	margin-bottom: 1rem;
	padding: 1rem;
	display: flex;
	margin-left: auto;
	margin-right: 1rem;
	transition: all 0.15s linear;
	box-shadow: 3px 3px 3px var(--grey);
	transition: transform 0.15s ease-in-out;
}

.cancelar-turno:hover {
	transform: scale(1.03);
	box-shadow: 3px 3px 5px var(--grey);
}

.solicitar-turno-button {
	background-color: var(--green);
	border: none;
	outline: none;
	height: 3rem;
	width: 15rem;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	font-size: 1.05rem;
	transition: background 0.3s ease;
	border: 2px solid var(--light-grey);
}

.solicitar-turno-button a {
	color: var(--light-grey);
	text-decoration: none;
}

.solicitar-turno-button:hover {
	background-color: transparent;
	border: 2px solid var(--green);
}

.solicitar-turno-button:hover > a {
	color: var(--green);
}

.turnos-section h3 {
	margin-top: 1.2rem;
	font-size: 1rem;
	width: 100%;
}

.patient-name {
	font-style: italic;
	font-weight: bold;
	color: var(--green);
}

.msg {
	width: 100%;
	margin: 0;
	color: white;
	text-align: center;
	font-size: 1.1rem;
	font-weight: bold;
	padding: 1.3rem 0;
}

.success {
	background-color: var(--blue);
}

@media only screen and (min-width: 800px) {
	.turnos-section {
		height: 100%;
		padding-bottom: 2rem;
	}
	.turnos-section h3 {
		width: 100%;
	}

	.solicitar-turno-button {
		width: 14rem;
	}

	.section-controls {
		width: 70vw;
		margin: auto;
	}

	.detail-section {
		margin: auto;
		width: 70vw;
	}
}

@media only screen and (min-width: 1200px) {
	details ul {
		padding: 1.2rem;
		font-size: 1.2rem;
	}
}

@media print {
	.cancelar-turno {
		display: none;
	}

	h3 {
		padding: 1rem;
	}

	.section-controls form {
		display: none;
	}
}

@media screen and (prefers-color-scheme: dark) {
	.patient-name {
		color: var(--yellow);
	}

	details h4 {
		color: var(--yellow);
	}
	.solicitar-turno-button {
		transition: transform 0.1s ease-in-out;
	}
	.solicitar-turno-button:hover {
		background-color: var(--green);
		border: 2px solid var(--light-grey);
		transform: scale(1.03);
	}

	.solicitar-turno-button:hover > a {
		color: var(--light-grey);
	}
}
