@import url('./global/shared.css');
@import url('./global/shared-data-form.css');

body {
	gap: 0rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
	appearance: textfield;
}

span {
	/*margin-left: 0.5rem;*/
	cursor: pointer;
	display: inline;
}

.p-terms {
	text-align: center;
}

.terms-conditions {
	font-size: 0.95rem;
}

.login {
	text-align: center;
	width: 90%;
	font-size: 1rem;
	margin: 2rem auto;
	color: var(--light-grey);
}

.login a {
	color: var(--yellow);
	filter: drop-shadow(2px 2px 5px black);
}

a {
	text-decoration: none;
	color: var(--green);
	font-weight: bold;
}

a:hover {
	border-bottom: 1px solid;
}

@media screen and (min-width: 700px) {
	form {
		width: 85vw;
	}
}

@media screen and (min-width: 1000px) {
	form {
		width: 70vw;
	}

	span {
		font-size: 1.3rem;
	}

	input[type='submit'] {
		width: 20rem;
	}

	.login {
		font-size: 1.2rem;
	}
}

@media screen and (prefers-color-scheme: dark) {
	a {
		color: var(--light-grey);
	}
}
