@import url('./variables.css');

.title {
	color: var(--light-grey);
	position: absolute;
	top: 5px;
	filter: drop-shadow(4px 4px 3px black);
	font-weight: bold;
	align-self: flex-start;
}

.search-section {
	display: flex;
	align-items: center;
	position: relative;
	justify-content: space-evenly;
	background-image: url('./images/Background-B.webp');
	background-position: center;
	background-size: cover;
	height: 60vh;
	flex-direction: column;
}

form {
	width: 90vw;
	background-color: var(--light-grey);
	padding: 1.7rem;
	border-radius: 10px;
	box-shadow: 3px 3px 5px var(--grey);
}

fieldset {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	flex-direction: column;
}

fieldset legend {
	font-size: 1.7rem;
	color: var(--grey);
}

.input-container {
	margin-top: 1rem;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
}

.label {
	color: var(--green);
	font-weight: bold;
	padding: 0.2rem 0;
}

.input {
	width: 100%;
	height: 2rem;
	padding: 0.2rem 0.5rem;
	outline: none;
	border: none;
	outline: 1px solid var(--grey);
	border-radius: 5px;
	background-color: transparent;
	font-family: var(--font-family);
}

.input:focus {
	outline: 2px solid var(--grey);
}

input[type='submit'] {
	margin-top: 1rem;
	background-color: var(--green);
	color: var(--light-grey);
	border: none;
	outline: none;
	height: 2.5rem;
	width: 14rem;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	font-size: 1.05rem;
	transition: all 0.2s ease-in;
}

input[type='submit']:hover {
	background-color: transparent;
	color: var(--green);
	border: 2px solid var(--green);
}

.result-section {
	padding: 2.5rem 1rem 1rem 1rem;
	position: relative;
	margin-bottom: 2rem;
}

.result-section h3 {
	font-size: 1.3rem;
}

.search-text {
	color: var(--green);
	font-style: italic;
	font-weight: bold;
}

.search-result {
	margin-top: 1.5rem;
	padding: 1rem;
	border: 1px solid var(--grey);
	border-radius: 10px;
}

button {
	background-color: transparent;
	outline: none;
	border: none;
	width: 100%;
	border-radius: 5px;
	height: 2.5rem;
	padding: 0.5rem;
	margin: 1rem auto;
	background-color: var(--green);
	color: var(--yellow);
	font-weight: bold;
	font-size: 1rem;
	transition: all 0.15s linear;
	cursor: pointer;
	box-shadow: 3px 3px 3px var(--grey);
}

button:hover {
	transform: scale(1.02);
	box-shadow: 4px 5px 10px var(--grey);
}

@media screen and (min-width: 650px) {
	button {
		width: 50%;
	}
}

@media screen and (min-width: 950px) {
	button {
		width: 30%;
	}
}

@media screen and (min-width: 1000px) {
	fieldset legend {
		font-size: 2rem;
	}

	form {
		width: 80vw;
	}

	.label {
		font-size: 1.2rem;
	}

	input[type='submit'] {
		width: 25rem;
	}
}

@media screen and (min-width: 1400px) {
	.result-section {
		padding: 2.5rem 1rem 1rem 1rem;
		display: flex;
		flex-wrap: wrap;
		gap: 0 2rem;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	.result-section h3 {
		position: absolute;
		top: 1rem;
		left: 1rem;
	}

	.search-result {
		width: 45%;
		margin-top: 1.5rem;
	}

	button {
		width: 50%;
	}
}

@media print {
	.search-section {
		display: none;
	}

	.title {
		color: var(--green);
	}
}

@media screen and (prefers-color-scheme: dark) {
	form,
	fieldset,
	input {
		background-color: var(--green);
	}

	.input {
		background-color: var(--light-grey);
	}

	.input:focus {
		outline: 2px solid var(--yellow);
	}

	fieldset legend,
	.label {
		color: var(--light-grey);
	}

	input[type='submit'] {
		color: var(--light-grey);
		background-color: var(--green);
		border: 2px solid var(--light-grey);
	}

	input[type='submit']:hover {
		color: var(--light-grey);
		background-color: var(--green);
		border: 2px solid var(--light-grey);
		transform: scale(1.03);
	}

	.search-text {
		color: var(--yellow);
	}

	.search-result {
		border: 1px solid var(--yellow);
	}

	button {
		border: 1px solid var(--yellow);
	}

	button:hover {
		background-color: var(--yellow);
		color: var(--green);
	}
}
