@import url('./global/shared.css');
@import url('./global/shared-forms.css');

body {
	height: 100vh;
	gap: 5rem;
}

.title {
	top: 2rem;
	left: 0.5rem;
}

.register-link {
	font-size: 1.2rem;
	color: var(--light-grey);
}

.register-link a {
	text-decoration: none;
	color: var(--yellow);
	filter: drop-shadow(2px 2px 5px black);
	font-weight: bold;
}

form {
	height: 55vh;
	width: 90vw;
}

span {
	margin-left: 0.5rem;
	cursor: pointer;
}

@media screen and (min-width: 700px) {
	form {
		width: 85vw;
	}

	span {
		margin-left: 1rem;
	}
}

@media screen and (min-width: 1000px) {
	form {
		width: 50vw;
	}

	span {
		font-size: 1.3rem;
	}

	input[type='submit'] {
		width: 20rem;
	}
}
