@import url('./global/reset.css');
@import url('./global/variables.css');
@import url('./global/shared.css');

body {
	/* background-color: var(--light-grey); */
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5rem;
}

.title {
	font-size: 3rem;
	color: var(--grey);
	margin: 1rem 0.5rem;
	align-self: flex-start;
	position: absolute;
	top: 2rem;
	left: 0.5rem;
}

.title::after {
	content: '';
	background-image: url('./global/images/Isotipo.svg');
	width: 3rem;
	height: 3rem;
	background-position: center;
	background-size: cover;
	display: inline-block;
	position: absolute;
	margin-left: 1rem;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	width: 90vw;
	height: 50vh;
	margin-top: 2rem;
	border-radius: 15px;
	box-shadow: 5px 5px 15px var(--grey), -5px -5px 15px var(--grey);
}

form h2 {
	width: 100%;
	text-align: center;
	padding: 0.5rem;
	font-size: 2.2rem;
	color: var(--green);
}

form fieldset {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 95%;
	gap: 1rem;
}

.input-container {
	width: 100%;
	margin-left: 1rem;
}

.label {
	display: block;
	font-weight: bold;
	font-size: 1.2rem;
	margin: 0.5rem 0;
	color: var(--green);
}

.input {
	width: 88%;
	height: 2rem;
	padding: 0.2rem 0.5rem;
	outline: none;
	border: none;
	color: var(--green);
	outline: 1px solid var(--green);
	border-radius: 5px;
	background-color: var(--light-grey);
}

.input[type='password'] {
	display: inline-block;
}

span {
	margin-left: 0.2rem;
	cursor: pointer;
}

legend {
	display: none;
}

input[type='submit'] {
	background-color: var(--green);
	color: var(--light-grey);
	border: none;
	outline: none;
	height: 2rem;
	width: 10rem;
	cursor: pointer;
}
