@import url('./global/shared.css');
@import url('./global/shared-details-style.css');

.detail h3 {
	font-weight: bold;
	padding-top: 1.2rem;
	padding-left: 1.2rem;
	color: var(--green);
}

.detail figure {
	display: flex;
	padding: 0.5em;
	border-bottom: 1px solid var(--green);
	overflow: hidden;
}

.detail figcaption {
	color: var(--green);
	font-weight: bold;
	font-size: 1.1rem;
	margin: auto;
}

.detail img {
	width: 100px;
	height: 100px;
}

@media only screen and (min-width: 800px) {
	.detail h3 {
		font-size: 1.2rem;
	}

	.detail figcaption {
		font-size: 1.3rem;
	}
}

@media only screen and (min-width: 1200px) {
	.detail figure {
		margin: 2rem;
		/* border-radius: 10px; */
	}

	.detail figcaption {
		margin: auto 2rem;
	}
}
