@import url('./global/shared.css');

.detail-section {
  width: 100vw;
}

.detail {
  border: 1px solid var(--green);
  background: var(--light-grey);
}

.titulo-detail {
  outline: none;
  cursor: pointer;
  list-style: none;
  display: flex;
  justify-content: center;
  color: var(--light-grey);
	font-weight: bold;
	padding: 1.2rem;
	font-size: 1.4rem;
	border-bottom: 1px solid var(--light-grey);
  background-color: var(--green);
}

.detail[open] > .titulo-detail {
  background-color: var(--light-grey);
  color: var(--green);
}

.titulo-detail:hover {
  background-color: var(--light-grey);
  color: var(--green);
}

.detail p {
  padding: 1.2rem;
}

.detail h3 {
  font-weight: bold;
  padding-top: 1.2rem;
  padding-left: 1.2rem;
  color: var(--green);
}

.detail figure {
  display: flex;
  padding: 0.5em;
  border: 1px solid var(--green);
}

.detail figcaption {
  color: var(--green);
  font-weight: bold;
  font-size: 1.1rem;
  margin: auto;
}

.detail img {
  width: 100px;
  height: 100px;
}

@media only screen and (min-width: 800px) {
  
  .detail h3 {
    font-size: 1.2rem;
  }

  .detail figcaption {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1200px) {
  
  .detail-section {
    width: 80vw;
    margin: auto;
  }

  .detail figure {
    margin: 2rem;
    border-radius: 10px;
  }

  .titulo-detail {
    padding: 2rem;
  }
}



