@import url('./global/reset.css');
@import url('./global/variables.css');
@import url('./global/shared.css');
@import url(./global/shared-news.css);

.title {
	color: var(--grey);
	font-weight: bold;
	padding: 1rem;
	font-size: 3rem;
	padding-bottom: 0rem;
}

@media only screen and (min-width: 800px) {
	.head {
		border-radius: 15px;
		width: 90vw;
		height: 100%;
	}

	.head img {
		width: 100%;
		height: 50vh;
	}

	.head h3 {
		font-size: 2rem;
	}

	.head p {
		font-size: 1.6rem;
	}

	.head:hover {
		transform: scale(1);
	}
}

@media only screen and (min-width: 1200px) {
	.head {
		width: 95vw;
		height: 100%;
		display: inline-block;
	}

	.head img {
		width: 80vh;
		height: 100%;
		float: right;
	}

	.head h3 {
		font-size: 2rem;
	}

	.head p {
		font-size: 1.6rem;
	}
}
