@import url('./global/shared.css');

article {
	width: 90%;
	margin: auto;
}
article figure {
	margin: 1rem 0;
	border-radius: 8px;
	border: 1px solid var(--grey);
	position: relative;
	padding: 1rem;
}

article figure img {
	padding: 0.6rem;
	width: 180px;
	height: 180px;
	border-radius: 20px;
	background-color: white;
}

article figcaption {
	display: inline-block;
	position: absolute;
	width: 40%;
	top: 50%;
	margin-left: 1rem;
	font-size: 1rem;
}

@media screen and (min-width: 950px) {
	article figure img {
		width: 180px;
		height: 180px;
	}

	article figcaption {
		margin-left: 1rem;
		width: 65%;
		font-size: 1.3rem;
	}
}

@media screen and (min-width: 1300px) {
	article figure img {
		width: 200px;
		height: 200px;
	}

	article figcaption {
		margin-left: 1rem;
		width: 70%;
		font-size: 1.3rem;
	}
}

@media screen and (prefers-color-scheme: dark) {
	article figure {
		border: 2px solid var(--light-grey);
	}
}
