@import url('./global/shared.css');
@import url('./global/shared-data-form.css');

body {
	gap: 0rem;
}

.title {
	top: 0.5rem;
	left: 0.5rem;
}

form {
	padding: 1rem;
	width: 95vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

span {
	margin-left: 0.5rem;
	cursor: pointer;
}

.terms-conditions {
	font-size: 0.95rem;
}

.login-link {
	font-size: 1.2rem;
	margin: 1.5rem 0;
	color: var(--light-grey);
}

.login-link a {
	color: var(--yellow);
	filter: drop-shadow(2px 2px 5px black);
}

a {
	text-decoration: none;
	color: var(--green);
	font-weight: bold;
}

@media screen and (min-width: 700px) {
	form {
		width: 85vw;
	}

	span {
		margin-left: 1rem;
	}
}

@media screen and (min-width: 1000px) {
	form {
		width: 70vw;
	}

	span {
		font-size: 1.3rem;
	}

	input[type='submit'] {
		width: 20rem;
	}
}

@media screen and (min-width: 1300px) {
	.title {
		top: 2rem;
		left: 0.5rem;
	}

	form {
		width: 50vw;
	}
}
