@import url('./global/shared.css');

form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: auto;
}
  
legend {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--green);
}

label {
  display: block;
  font-size: 1.2rem;
  color: var(--green);
  margin-top: 1.05rem;
}

input {
  width: 90vw;
  background-color: var(--light-grey);
  border: 1px solid #0000001d;
  display: flex;
  margin: auto;
  height: 1.5rem;
}

.label-genero {
  display: inline;
}

.in-genero {
  width: 18px;
  display: inline;
  height: auto;
}

.dc-form {
  margin-top: 1.2rem;
}

.dt-form {
  margin-top: 1.05rem;
}

.fecha {
  display: inline;
  float: left;
}

.fecha input {
  width: 45vw;
  display: inline;
}

.edad {
  display: inline;
  float: right;
}

.edad input {
  width: 40vw;
  display: inline;
}

.hora {
  display: inline;
  float: right;
}

.hora input {
  width: 40vw;
  display: inline;
}

.buttons {
  display: flex;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.submit {
  display: inline;
  width: 50vw;
  margin-left: 0;
  height: 10vw;
  background-color: var(--green);
  color: var(--light-grey);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  border: 2px solid var(--light-grey);
}

.submit:hover {
  background-color: var(--light-grey);
  color: var(--green);
  border: 2px solid var(--green);
}

.reset {
  display: inline;
  margin-right: 0;
  width: 35vw;
  height: 10vw;
  background-color: var(--red);
  color: var(--light-grey);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  border: 2px solid var(--light-grey);
}

.reset:hover {
  background-color: var(--light-grey);
  color: var(--red);
  border: 2px solid var(--red);
}

@media only screen and (min-width: 800px) {


  
  fieldset {
    width: 30vw;
  }

  label {
    width: 30vw;
  }

  input {
    width: 30vw;
    margin-left: 0;
  }

  .fecha input{
    width: 10vw;
  }

  .edad input {
    width: 10vw;
  }

  .hora input {
    width: 10vw;
  }

}

@media only screen and (min-width: 1000px) {
	.detail-section {
		width: 100vw;
		margin: 1rem auto;
	}

	.titulo-detail {
		padding: 2rem;
	}
}

@media only screen and (min-width: 1200px) {
	.detail-section {
		width: 80vw;
		margin: 1rem auto;
	}

	.titulo-detail {
		padding: 2rem;
	}
}